<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n%rootException</pattern>
        </encoder>
    </appender>

    <logger name="org.mockserver.log.MockServerEventLog" level="WARN"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
